* {
    background-color: #165B33;
    color: #F8B229;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    font-family: sans-serif;
    margin: 0px 0px 0px 0px;
    max-width: 100%;
}
header, header nav, header a {
    background-color: #BB2528;
}

#fixedHeader {
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 1;
    padding: 25px;
}

a {
    margin-top: 100px;
    padding: 10px;
    font-size: 40px;
    margin: 20px;
}

h2 {
    font-size: 50px;
    text-align:center;
}

.contactSection {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.contactSection img {
    padding: 100px;
}
#secondSection {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#secondSection img {
    padding: 100px;
}

section {
    padding: 50px;
}

.isYaBoi {
    display: block;
    position: relative;
    float: left;
    padding: 90px;
}
.Johns {
    position: absolute;
    top: 85%;
    right: 21%;
    font-size: 75px;
    border: 5px dashed #BB2528;
}

h1 {
    font-size: 50px;
    text-align: center;
}

#seo, #pw, #contactMe {
    border: 5px dashed #BB2528;
}
li {
    list-style: none
}

@media screen and (max-width: 164px) {
    header {
        display: none;
    }
}